body {
    margin: 0;
    padding: 0;
    background: black;
}

.portrait-text {
    margin: 0;
    min-height: 100vh;
    font-size: clamp(9px, 1.2vw, 14px);
    line-height: clamp(7px, 1vw, 12px);
    text-align: justify;
    background-image: url("hanhan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
    background-attachment: scroll;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}